<div class="card mr-2">
	<div class="card-header">
		Add A Page
	</div>
	<div class="card-body pl-2 pr-2">
		<div class="col-12 form-group">
			<label class="text text-muted">Select the type of object or page you want to
				create. An object can be a form, static content, a piece of javascript code
				or a grid for image gallery.</label>
			<div class="row">
				<div class="col">
					<div class="form-check form-check-inline" *ngFor="let m of types">
						<input class="form-check-input" (click)="onClick_Type(m)"
							[(ngModel)]="selected" [value]="m.name" id="{{m.name}}"
							type="radio">
						<label class="form-check-label" for="{{m.name}}">{{m.label}}</label>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 form-group">
			<label>Label</label>
			<input class="form-control" maxlength="100"
				[(ngModel)]="object.label">
			<small class="text text-muted">For example: Clients, Portfolio,
				Gallery, etc
				Line 1, etc</small>
		</div>
		<div class="col-12 form-group">
			<label>Name</label>
			<input class="form-control" mask="A*" maxlength="200"
				[(ngModel)]="object.name">
			<small class="text text-danger">Only alpha-numeric allowed. </small>
			<small
				class="text text-muted">For example: clients, portfolio, gallery,
				etc
				Line 1, etc</small>
		</div>
		<div class="col-4 form-group">
			<label>Status</label>
			<select class="form-control" [(ngModel)]="object.status">
				<option value="Active">Active</option>
				<option value="InActive">InActive</option>
			</select>
		</div>
		<div class="col-4 form-group">
			<label>Set As Home Page Content</label>
			<select class="form-control" [(ngModel)]="object.home">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
	</div>
	<div class="card-footer">
		<button (click)="onClick_Submit()" class="float-left btn btn-primary">Submit</button>
		<button (click)="onClick_TryDelete()" class="btn btn-outline-danger
			float-right">Delete</button>
	</div>
</div>
<com-modal [forDelete]="true" (onSubmit)="onClick_DeleteObject()"></com-modal>