<section class="space-sm">
  <div class="container align-self-start">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <div class="card card-lg" *ngIf="is_reset_done == false">
          <div class="card-header bg-secondary">
            Set New Bookit24 Password
          </div>
          <div class="card-body" >
            <div class="row no-gutters">
              <div class="text text-info">Welcome to All New Bookit24.<br>For new system integrity and added security, we have to ask you to set a new password.<hr></div>
              <div class="text-left col-lg-12">
                <div class="form-group">
                  <label for="email">Please Enter A New Password</label>
                  <div><small class="text text-muted">Must be atleast 8 char length with no spaces.</small></div>
                  <input [(ngModel)]="password" class="form-control form-control-lg" maxlength="40" type="password" (keyup.enter)="onSubmit()"
                    placeholder="" />
                </div>
              </div>
              <div class="text-left col-lg-12">
                <div class="form-group">
                  <label for="email">Re-type New Password:</label>
                  <input [(ngModel)]="confirm_password" class="form-control form-control-lg" type="password" maxlength="40"  (keyup.enter)="onSubmit()"
                    placeholder="" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span *ngIf="is_loading == true"  
              class="btn btn-light btn-lg btn-muted"><img src="assets/img/ajax-loader-light-gray.gif" 
              translate > txt-loading</span>
            <button (click)="onSubmit()" class="btn btn-lg btn-primary" *ngIf="is_loading == false" >Submit</button>
          </div>

        </div>
        <div class="card card-lg" *ngIf="is_reset_done == true">
          <div class="card-body" >
            <div class="row no-gutters">
              <div class="text-left col-lg-12">
                <h5>You password has been changed, please try Signin now.</h5>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
