<div class="bg-light pt-3 pb-1">
  <div class="col-12 form-group">
    <label>Whats the name of this attribute:</label>
    <input class="form-control" [(ngModel)]="el.name">
    <small class="text text-muted">For example: First Name, Mobile, Address, etc</small>
  </div>
</div>
<div class="bg-light pt-3 pb-1 mt-2">
  <div class="col-12 form-group">
    <label>Whats the max length for its value:</label>
    <input class="form-control" [(ngModel)]="el.max_length">
    <small class="text text-muted">For example: 20</small>
  </div>
</div>
<div class="bg-light pt-3 pb-1 mt-2">
    <div class="col-12 form-group">
      <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="el.required" id="required">
      <label style="padding-top:2px;" class="custom-control-label" for="required">Is This A Required Field?</label>
    </div>
</div>
</div>
<hr>
<button class="btn btn-primary">Submit</button>
