<div class="d-flex justify-content-between flex-wrap flex-md-nowrap px-2
  page-title
  align-items-center pt-3 pb-2 mb-2 border-bottom">
  <h4 class="h6" *ngIf="!is_loading">{{title}}</h4>
  <h4 class="h6" *ngIf="is_loading">loading ...</h4>
</div>

<div class="px-2">
  <div class="form-row" *ngFor="let f of fields">
    <div class="form-group col-md-6">
      <label *ngIf="f.type !='checkbox' ">{{f.label}}</label>
      <textarea *ngIf="f.type=='textarea' " placeholder="{{f.placeholder}}"  class="form-control" [(ngModel)]="el[f.name]">
        </textarea>
      <input *ngIf="f.type=='text' " placeholder="{{f.placeholder}}"  class="form-control" [(ngModel)]="el[f.name]">
      <select *ngIf="f.type=='dropdown' " class="form-control" [(ngModel)]="el[f.name]">
        <option *ngFor="let o of f.options" [value]="o.name" >{{o.label}}</option>
      </select>
      <div *ngIf="f.type=='checkbox' " class="custom-control custom-checkbox custom-checkbox-switch ">
          <input type="hidden" [(ngModel)]="el[f.name]">
          <input type="checkbox" class="custom-control-input" [checked]="el[f.name] === _bool[0].value"
              (change)="$event.target.checked? (el[f.name] = _bool[0].value) :
              (el[f.name] = _bool[1].value)"
              id="el[f.name]">
          <label class="custom-control-label " style="padding-top:2px;"  for="el[f.name]"> {{f.label}} </label>
      </div>
    </div>
  </div>
</div>
<hr >
<div class="px-2 row">
  <div class="col-md-12">
    <button type="submit" (click)="onClick_Save()" class="btn btn-primary">Submit</button>
  </div>
</div>