<div class="d-flex justify-content-between flex-wrap flex-md-nowrap px-4
	page-title align-items-center pt-3 pb-2 border-bottom">
	<h4 class="h6" *ngIf="!is_loading">{{action_name}} {{entity_name}}
		<span *ngIf="is_on_list">{{sub_title}} </span> {{entity.username|uppercase}}
		<span *ngIf="is_edit" class="text text-danger">({{entity.user_type}})</span>
		<span *ngIf="is_on_list"
			class="badge badge-primary">{{count}}</span></h4>
	<h4 class="h6" *ngIf="is_loading">loading ...</h4>

	<div class="btn-toolbar mb-2 mb-md-0" *ngIf="is_edit && (entity.user_type ==
		'attendant' || entity.user_type == 'patient')">
		<div class="btn-group mr-2">
			<button (click)="onClick_ConfigureTriggers()"
				*ngIf="entity.user_type=='patient'" class="btn btn-outline-secondary
				btn-sm">Config</button>
			<button (click)="onClick_TryDelete()"  class="btn btn-outline-danger btn-sm">Delete</button>
		</div>
	</div>

	<div class="btn-toolbar mb-2 mb-md-0" *ngIf="!is_on_new">
		<div class="btn-group mr-2">
			<button type="button" (click)="onClick_NewRecord()" class="btn btn-sm
				btn-primary">NEW {{entity_name}}</button>
		</div>
	</div>
</div>

<div *ngIf="is_edit && !is_device_assigned && entity.user_type=='patient' &&
	this.active_device_count == 0" class="d-flex
	justify-content-between flex-wrap flex-md-nowrap px-4
	page-title align-items-center pt-2 pb-2 mb-4 border-bottom">
	<div class="form">
		<div class="text text-danger">All devices has been assigned</div>
	</div>
</div>

<div *ngIf="is_edit && !is_device_assigned && entity.user_type=='patient' &&
	this.active_device_count> 0" class="d-flex
	justify-content-between flex-wrap flex-md-nowrap px-4
	page-title align-items-center pt-2 pb-2 mb-4 border-bottom">
	<div class="form">
		<div class="input-group input-group-sm">
			<select class="custom-select custom-select-sm"
				[(ngModel)]="entity.device_id">
				<option *ngFor="let d of devices" [value]="d.id">{{d.name}}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-secondary btn-sm" (click)="onClick_AttachDevice()"
					type="button">Attach Device</button>
			</div>
		</div>
	</div>
</div>

<div *ngIf="is_edit && is_device_assigned && entity.user_type=='patient'"
	class="d-flex justify-content-between
	flex-wrap flex-md-nowrap px-4
	page-title align-items-center pt-2 pb-2 mb-4 border-bottom">
	<div class="form-row align-items-center">
		<div class="col-auto my-1 text text-success">
			Device '{{entity.device_name | uppercase}}' is assigned
		</div>
		<div class="col-auto my-1">
			<button type="submit" (click)="onClick_EjectDevice()" class="btn
				btn-outline-danger btn-sm">Eject Device</button>
		</div>
	</div>
</div>


<div class="px-4 mt-2" *ngIf="is_on_new">
	<div class="row">
		<div class="col-6">

			<div class="form-row">
				<div class="form-group col-md-4">
					<label>First Name</label>
					<input class="form-control" [(ngModel)]="entity.first_name">
				</div>
				<div class="form-group col-md-4">
					<label>Last Name</label>
					<input class="form-control" [(ngModel)]="entity.last_name">
				</div>
				<div class="form-group col-md-4">
					<label>Mobile</label>
					<input class="form-control" [(ngModel)]="entity.mobile">
				</div>
			</div>
			<div class="form-row alert alert-danger">
				<div class="col-sm-4 my-1">
					<label>Username</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder='Must be a valid
							email'
							[(ngModel)]="entity.username">
					</div>
				</div>
				<div class="col-sm-4 my-1">
					<label>Password</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Min 8 char length"
							[(ngModel)]="entity.password">
					</div>
				</div>
				<div class="col-sm-4 my-1">
					<label>Confirm Password</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder=""
							[(ngModel)]="entity.confirm_password">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="custom-control custom-checkbox custom-checkbox-switch">
					<input type="hidden" [(ngModel)]="entity.status">
					<input type="checkbox" class="custom-control-input"
						[checked]="entity.status
						=== status[0].value"
						(change)="$event.target.checked? (entity.status= status[0].value) :
						(entity.status= status[1].value)"
						id="status">
					<label class="custom-control-label" for="status" translate>Activate User?</label>
				</div>
			</div>

			<hr>
			<button type="submit" (click)="onClick_PrimarySubmit()" class="btn
				btn-primary">Submit</button>
		</div>
		<div class="col-6">
			<div class="">
				<ul class="list-group">
					<li class="list-group-item bg-light">
						<span class="">Assign Patients</span>
					</li>
					<li class="list-group-item d-flex justify-content-between 
						align-items-center" *ngFor="let p of entity_recordset">
						{{p.username}}
						<span class="btn btn-sm btn-primary" (click)="onClick_Assign()">Assign</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="px-4" *ngIf="is_on_list">
	<small>Click on an item to edit.</small>
	<ng2-smart-table (userRowSelect)="onClick_Record($event)"
		class="table-responsive"
		[settings]="settings" [source]="entity_recordset"></ng2-smart-table>
</div>

<com-modal [forDelete]="true" (onSubmit)="onClick_Delete()" ></com-modal>
