<div class="d-flex justify-content-between flex-wrap flex-md-nowrap px-4 page-title
	align-items-center pt-3 pb-2 mb-2  border-bottom">
	<h4 class="h6" *ngIf="!is_loading">{{action_name}} {{entity_name}} {{entity.name|uppercase}}<span *ngIf="is_on_list" class="badge badge-primary">{{count}}</span></h4>
	<h4 class="h6" *ngIf="is_loading">loading ...</h4>
	<div class="btn-toolbar mb-2 mb-md-0" *ngIf="is_edit">
		<div class="btn-group mr-2" >
			<a [routerLink]="['/su/device',{id:entity.id}]" class="btn btn-outline-primary btn-sm">Devices</a>
			<a [routerLink]="['/su/user',{id:entity.id}]" class="btn btn-outline-primary btn-sm">Users</a>
			<button (click)="onClick_TryDelete()" class="btn btn-outline-danger btn-sm">Delete</button>
		</div>
	</div>
	<div class="btn-toolbar mb-2 mb-md-0" *ngIf="!is_on_new">
		<div class="btn-group mr-2" >
			<button type="button" (click)="onClick_NewRecord()" class="btn btn-sm
				btn-primary">NEW {{entity_name}}</button>
		</div>
	</div>
</div>

<div class="px-4" *ngIf="is_on_new">
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Name</label>
			<input class="form-control" [(ngModel)]="entity.name">
		</div>
		<div class="form-group col-md-6">
			<label>Description</label>
			<input class="form-control"
				[(ngModel)]="entity.description">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Phone</label>
			<input class="form-control" [(ngModel)]="entity.phone">
		</div>
		<div class="form-group col-md-6">
			<label>Email</label>
			<input class="form-control" [(ngModel)]="entity.email">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<label>Address Number</label>
			<input type="email" class="form-control" [(ngModel)]="entity.address_number">
		</div>
		<div class="form-group col-md-4">
			<label>Street</label>
			<input class="form-control" [(ngModel)]="entity.address_street">
		</div>
		<div class="form-group col-md-4">
			<label>City</label>
			<input  class="form-control" [(ngModel)]="entity.address_city">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<label>State</label>
			<input class="form-control" [(ngModel)]="entity.address_state">
		</div>
		<div class="form-group col-md-4">
			<label>Zipcode</label>
			<input class="form-control" [(ngModel)]="entity.address_zip">
		</div>
		<div class="form-group col-md-4">
			<label>Country</label>
			<input class="form-control" [(ngModel)]="entity.address_country">
		</div>
	</div>
	<div class="form-row alert alert-danger">
			<div class="col-sm-6 my-1">
				<label *ngIf="is_edit">Administrator Username (cannot modify)</label>
				<label *ngIf="!is_edit">Administrator Username</label>
				<div class="input-group">
					<input type="text" class="form-control" readonly *ngIf="is_edit"  placeholder='Must be a valid email' [(ngModel)]="entity.username">
					<input type="text" class="form-control"  *ngIf="!is_edit" placeholder='Must be a valid email' [(ngModel)]="entity.username">
				</div>
			</div>
			<div class="col-sm-6 my-1">
				<label *ngIf="is_edit">Change Administrator Password OR leave empty for unchange</label>
				<label *ngIf="!is_edit">Administrator Password</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Min 8 char length" [(ngModel)]="entity.password" >
				</div>
			</div>
		</div>
		<br>
	<div class="form-group">
		<div class="custom-control custom-checkbox custom-checkbox-switch">
			<input type="hidden" [(ngModel)]="entity.status">
			<input type="checkbox" class="custom-control-input" [checked]="entity.status === status[0].value"
				(change)="$event.target.checked? (entity.status = status[0].value) :
				(entity.status = status[1].value)"
				id="status">
			<label class="custom-control-label" for="status" translate>Activate Business?</label>
		</div>
	</div>
	<hr>
	<button type="submit" (click)="onClick_PrimarySubmit()" class="btn btn-primary">Submit</button>
</div>

<div class="px-4" *ngIf="is_on_list">
	<small>Click on an item to edit.</small>
	<ng2-smart-table (userRowSelect)="onClick_Record($event)"
		class="table-responsive"
		[settings]="settings" [source]="entity_recordset"></ng2-smart-table>
</div>

<com-modal [forDelete]="true" (onSubmit)="onClick_Delete()" ></com-modal>

