<div class="d-flex justify-content-between flex-wrap flex-md-nowrap px-2
  page-title
  align-items-center pt-3 pb-2 mb-2 border-bottom">
  <h4 class="h6" *ngIf="!is_loading">{{title}}<small class="text
      text-muted"> Build your pages, processes, forms, fields, triggers, etc.</small></h4>
  <h4 class="h6" *ngIf="is_loading">loading ...</h4>
</div>
<div class="row no-gutters">
  <div class="col-2 col-lg-2 col-sm-2 col-md-2 px-2">
    <ul class="list-group">
      <li class="text-center bg-light list-group-item text text-primary " 
        (click)="onClick_AddMenu()"><fa name="plus"></fa> Add</li>
      <li class="pt-2 pl-2 pr-2 pb-2 list-group-item cursor " id="obj_{{p._id}}"
        [class.active]="_id == p._id"
        (click)="onClick_Item(p)" *ngFor="let p
        of
        config?.config?.infra?.object">{{p.label}}</li>
    </ul>
  </div>
  <div class="col-10" *ngIf="is_adding_object == true">
    <div class="row">
      <div class="col-12">
          <app-object ></app-object>
      </div>
    </div>
  </div>
  
  <div class="col-10" *ngIf="is_object_selected == false && is_adding_object == false">
    <div class="row col-12"><span class="alert alert-info">Please select an item from left.</span></div>
  </div>
  <div class="col-10 col-lg-10 col-md-10 col-sm-10 pr-2" *ngIf="is_object_selected == true">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-settings-tab" data-toggle="tab"
          href="#nav-settings" role="tab" aria-controls="nav-settings"
          aria-selected="false">Settings</a>
          <a class="nav-item nav-link " id="nav-layout-tab"
          data-toggle="tab" href="#nav-layout" role="tab" 
          aria-controls="nav-layout" aria-selected="true">Layout</a>
        <a class="nav-item nav-link" id="nav-triggers-tab" data-toggle="tab"
          href="#nav-triggers" role="tab" aria-controls="nav-triggers"
          aria-selected="false">Triggers</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade " id="nav-layout" role="tabpanel"
        aria-labelledby="nav-layout-tab">
        <div class="border border-top-0 rounded-bottom">
          <div class="card-body">
            <app-object-layout [object]="object"></app-object-layout>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="nav-settings" role="tabpanel"
        aria-labelledby="nav-settings-tab">
        <div class="border border-top-0 rounded-bottom">
          <div class="card-body">
              <app-object-settings [object]="object"></app-object-settings>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-triggers" role="tabpanel"
        aria-labelledby="nav-triggers-tab">
        <div class="border border-top-0 rounded-bottom">
          <div class="card-body">
              <app-object-triggers [object]="object"></app-object-triggers>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<com-modal [forDelete]="true" (onSubmit)="onClick_DeleteField()"></com-modal>
