<label class="text text-muted">Select an HTML element and configure it as per
	your need.</label>
<div class="row">
	<div class="col">
		<div class="form-check form-check-inline" *ngFor="let m of menu_list">
			<input class="form-check-input" (click)="onClick_CustomMenu(e)"
				[(ngModel)]="selected_type" [value]="m.type" id="{{m.type}}"
				type="radio">
			<label class="form-check-label" for="{{m.type}}">{{m.type}}</label>
		</div>
	</div>
</div>
<hr>
<div class="" *ngIf="selected_type=='form'">
	<app-form  [editing_menu]="editing_menu"></app-form>
</div>
<div class="" *ngIf="selected_type=='html'">
	<app-form  [editing_menu]="editing_menu"></app-form>
</div>
<div class="" *ngIf="selected_type=='grid'">
	<app-form  [editing_menu]="editing_menu"></app-form>
</div>
<div class="" *ngIf="selected_type=='code'">
	<app-form  [editing_menu]="editing_menu"></app-form>
</div>
			
	  
