<div>
  <section class="height-80 flush-with-above">
      <div class="container">
          <div class="row justify-content-between align-items-center">
              <div class="col-12 col-md-6 mb-4">
                  <img alt="Image" src="assets/img/graphic-imac-interface.svg" class="w-100">
              </div>
              <div class="col-12 col-md-6 col-lg-5 mb-4 text-center text-md-left">
                  <h1 class="display-4">Hi there, you landed on something which does not exists yet!</h1>
                  <hr>
                  <h2 class="lead">If this is not how this web page suppose to show up, let us know. We can look into it right away.</h2>
              </div>
          </div>
      </div>
  </section>
</div>