<label class="text text-muted">Select an HTML element and configure it as per
  your need.</label>
<div class="row">
  <div class="col">
      <div class="form-check form-check-inline" *ngFor="let e of el_list">
        <!-- below orderBy is working well
        <div class="form-check form-check-inline" *ngFor="let e of custom_el |
        orderBy: type">
        -->
      <input class="form-check-input" (click)="onClick_CustomEl(e)"
        [(ngModel)]="selected_type" [value]="e.type" id="{{e.type}}" type="radio">
      <label class="form-check-label" for="{{e.type}}">{{e.type}}</label>
    </div>
  </div>
</div>
<hr>
<div class="" *ngIf="selected_type=='text'">
  <app-textbox ></app-textbox>
</div>
<div class="" *ngIf="selected_type=='dropdown'">
  <app-dropdown></app-dropdown>
</div>
<div class="" *ngIf="selected_type=='textarea'">
  <app-textarea></app-textarea>
</div>
<div class="" *ngIf="selected_type=='file'">
  <app-file></app-file>
</div>
<div class="" *ngIf="selected_type=='checkbox'">
  <app-checkbox></app-checkbox>
</div>
<div class="" *ngIf="selected_type=='email'">
  <app-email></app-email>
</div>
<div class="" *ngIf="selected_type=='date'">
  <app-date></app-date>
</div>
<div class="" *ngIf="selected_type=='time'">
  <app-time></app-time>
</div>
<div class="" *ngIf="selected_type=='currency'">
  <app-currency [config]="config"  [editing_el]="editing_el"></app-currency>
</div>