<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-1 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h3 class="h5  justify-content-between
          text text-center px-4 mt-2">
         <span>LOGO.</span>
         </h3>

        <h6 class="sidebar-heading d-flex justify-content-between
          align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Manage</span>
        </h6>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/su/business']">
              <fa name="building" ></fa> Businesses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/su/user']">
              <fa name="users" ></fa> Users
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between
          align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Global</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/su/settings']">
              <fa name="cog" ></fa> Settings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/su/security']">
              <fa name="lock" ></fa> Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text text-danger" [routerLink]="['/signout']">
              <fa name="sign-out" ></fa> Signout</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-11 px-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<notifier-container></notifier-container>
