<div class="d-flex justify-content-between flex-wrap flex-md-nowrap px-4
  page-title
  align-items-center pt-3 pb-2 border-bottom">
  <h4 class="h6" *ngIf="!is_loading">{{title}} </h4>
  <h4 class="h6" *ngIf="is_loading">loading ...</h4>
  <div class="form">
    <div class="input-group input-group-sm">
      <select class="custom-select">
        <option selected>Select Patient</option>
      </select>
      <select class="custom-select">
        <option selected>By Dates</option>
        <option selected>Live Feeds</option>
        <option>Last 30 Min</option>
        <option>Last 2 Hr</option>
        <option>Last 4 Hr</option>
        <option>Last 8 Hr</option>
      </select>
      <input class="form-control" placeholder="From Date">
      <input class="form-control" placeholder="To Date">
    </div>
  </div>
</div>

<div class="px-2 mt-2">
  <div class="row mb-2">
    <div class="col-sm-12 col-lg-2 col-md-2">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <h5 class="h3">
            <fa name="refresh" animation="spin"></fa>
            Patient 1</h5>
          <p class="card-text">LAST CRITICAL ALERT </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-2">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h5 class="h3"><fa name="gears"></fa></h5>
          <p class="card-text">MANAGE TRIGGERS</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-2">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="h3">0</h5>
          <p class="card-text">MALFUNCTION DEVICE</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="h3">3</h5>
          <p class="card-text">UNASSINGED DEVICES</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-2">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="h3">2</h5>
          <p class="card-text">UNASSINGED PATIENT</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-2">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="h3">23</h5>
          <p class="card-text">TOTAL PATIENT</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>


<hr>
<div class="px-2">
  <h1 class="h6">RECENT ALERTS <small>(Click an alert for details)</small></h1>
  <ng2-smart-table (userRowSelect)="onClick_Record($event)"
    class="table-responsive"
    [settings]="settings" [source]="entity_recordset"></ng2-smart-table>
</div>
