<div class="d-flex justify-content-between flex-wrap flex-md-nowrap px-2 page-title
  align-items-center pt-3 pb-2 mb-2 border-bottom">
  <h4 class="h6" *ngIf="!is_loading">{{title}}</h4>
  <h4 class="h6" *ngIf="is_loading">loading ...</h4>
</div>

<div class="px-2" >
  <div class="alert alert-danger">
    Below will change the SU password !
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password">
    </div>
    <div class="form-group col-md-6">
      <label>Confirm Password</label>
      <input type="password" class="form-control" [(ngModel)]="confirm_password">
    </div>
  </div>
  <hr>
  <button type="submit" (click)="onClick_Save()" class="btn btn-primary">Submit</button>
</div>
